/* hiding icon and positioning it across entire input field to trigger datepicekr anywhere */
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    background: 0 0;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

/* adding icons with mask - mask-image can be path to svg icon file or encoded to base64 like here so you can change icon color by setting background value or keep currentColor to inherit color from parent*/
input[type="date"]:after {
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    background: currentColor;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSI0NiIgaGVpZ2h0PSI0NiIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIHZpZXdCb3g9IjAgMCAwLjMgMC4zIj48ZyBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iLjAzIj48cGF0aCBkPSJNLjI2LjI5SC4wNE0uMDQuMjlDLjAzLjI5LjAxLjI4LjAxLjI2TS4wMS4yNlYuMDhNLjAxLjA4Qy4wMS4wNi4wMy4wNS4wNC4wNU0uMDQuMDVoLjIyTS4yNi4wNWMuMDIgMCAuMDMuMDEuMDMuMDNNLjI5LjA4di4xOE0uMjkuMjZDLjI5LjI4LjI4LjI5LjI2LjI5TS4wMS4xMWguMjhNLjI0LjAxdi4wNk0uMDYuMDF2LjA2Ii8+PC9nPjwvc3ZnPg==");
    mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbDpzcGFjZT0icHJlc2VydmUiIHdpZHRoPSI0NiIgaGVpZ2h0PSI0NiIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIHZpZXdCb3g9IjAgMCAwLjMgMC4zIj48ZyBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iLjAzIj48cGF0aCBkPSJNLjI2LjI5SC4wNE0uMDQuMjlDLjAzLjI5LjAxLjI4LjAxLjI2TS4wMS4yNlYuMDhNLjAxLjA4Qy4wMS4wNi4wMy4wNS4wNC4wNU0uMDQuMDVoLjIyTS4yNi4wNWMuMDIgMCAuMDMuMDEuMDMuMDNNLjI5LjA4di4xOE0uMjkuMjZDLjI5LjI4LjI4LjI5LjI2LjI5TS4wMS4xMWguMjhNLjI0LjAxdi4wNk0uMDYuMDF2LjA2Ii8+PC9nPjwvc3ZnPg==");
    -webkit-mask-size: 11px;
    mask-size: 11px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    position: absolute;
    right: 0;
    bottom: 10px;
}
